# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# Results & output (jangan push data akun ke GitHub)
results/

# CloakBrowser binary cache
.cloakbrowser/

# Debug screenshots
*.png

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
